<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ContactApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddContact</display-name>
    <servlet-name>AddContact</servlet-name>
    <servlet-class>com.contcatapplication.servlet.AddContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContact</servlet-name>
    <url-pattern>/AddContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>view_contacts</display-name>
    <servlet-name>view_contacts</servlet-name>
    <servlet-class>com.contcatapplication.servlet.view_contacts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>view_contacts</servlet-name>
    <url-pattern>/view_contacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>All_view_contact</display-name>
    <servlet-name>All_view_contact</servlet-name>
    <servlet-class>com.contcatapplication.servlet.All_view_contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>All_view_contact</servlet-name>
    <url-pattern>/All_view_contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditContact</display-name>
    <servlet-name>EditContact</servlet-name>
    <servlet-class>com.contcatapplication.servlet.EditContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditContact</servlet-name>
    <url-pattern>/EditContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContact</display-name>
    <servlet-name>DeleteContact</servlet-name>
    <servlet-class>com.contcatapplication.servlet.DeleteContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContact</servlet-name>
    <url-pattern>/DeleteContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContact</display-name>
    <servlet-name>UpdateContact</servlet-name>
    <servlet-class>com.contcatapplication.servlet.UpdateContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContact</servlet-name>
    <url-pattern>/UpdateContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search_Contact</display-name>
    <servlet-name>Search_Contact</servlet-name>
    <servlet-class>com.contcatapplication.servlet.Search_Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search_Contact</servlet-name>
    <url-pattern>/Search_Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Favorite_Contact</display-name>
    <servlet-name>Favorite_Contact</servlet-name>
    <servlet-class>com.contcatapplication.servlet.Favorite_Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Favorite_Contact</servlet-name>
    <url-pattern>/Favorite_Contact</url-pattern>
  </servlet-mapping>
</web-app>